*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*home section*/

.hide{
    display: none;
}

.home{
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
}

.home > div:nth-child(1){
    font-size: var(--font-xlarge);
}

.home > div:nth-child(2){
    font-size: var(--font-large);
    font-weight: lighter;
    font-variant: small-caps;
}

.home > div:nth-child(2) > span{
    color: black;
    font-weight: lighter;
    animation-name: cursor-blink;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
}

@keyframes cursor-blink{
    0% {color: var(--secondary-color);}
    25% {color: var(--background-color);}
    50% {color: var(--secondary-color);}
    75% {color: var(--background-color);}
    100% {color: var(--secondary-color);}
}

.home > ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.home > ul > a {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    transition-duration: .5s;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.home > ul > li {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    transition-duration: .5s;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.home > ul > a:hover{
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition-duration: .35s;
}

.home > ul > li:hover{
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition-duration: .35s;
}

.alert{
    position: absolute;
    width: 100%;
    top: 10%;
    display: flex;
    justify-content: center;
}

/*education section*/

.education{
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.education-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
}

.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40rem;
}

.education-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-variant: small-caps;
    color: var(--font-color);
}

.education-container > div > span{
    font-weight: lighter;
    margin-bottom: .25rem;
    font-size: var(--font-medium);
}

/*experience section*/

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.experience-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
}

/*language-container*/

.language-container{
    width: 70%;
    color: var(--secondary-color);
    margin-bottom: .5rem;
}

.language-container > div{
    margin-bottom: .5rem;
}

.language-container > ul{
    display: flex;
    overflow-x: auto;
    list-style: none;
    gap: 1rem;
    font-size: var(--font-normal);
}

.language-container > ul > li{
    flex-shrink: 0;
    display: flex;
    margin-left: 0;
    min-width: var(--tech-width);
    height: var(--tech-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
}

.language-container > ul > li > span{
    display: flex;
    margin: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

/*language-container*/

.technology-container{
    width: 70%;
    color: var(--secondary-color);
    margin-bottom: .5rem;
}

.technology-container > div{
    margin-bottom: .5rem;
}

.technology-container > ul{
    display: flex;
    overflow-x: auto;
    list-style: none;
    gap: 1rem;
    font-size: var(--font-normal);
}


.technology-container > ul > li{
    flex-shrink: 0;
    display: flex;
    margin-left: 0;
    min-width: var(--tech-width);
    height: var(--tech-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
}

.technology-container > ul > li > span{
    display: flex;
    margin: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

/*language-container*/

.tools-container{
    width: 70%;
    color: var(--secondary-color);
    margin-bottom: 40rem;
}

.tools-container > div{
    margin-bottom: .5rem;
}


.tools-container > ul{
    display: flex;
    overflow-x: auto;
    list-style: none;
    gap: 1rem;
    font-size: var(--font-normal);
}


.tools-container > ul > li{
    flex-shrink: 0;
    display: flex;
    margin-left: 0;
    min-width: var(--tech-width);
    height: var(--tech-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
}

.tools-container > ul > li > span{
    display: flex;
    margin: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.work-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
    overflow-y: hidden;
}

.work > ul{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.work > ul > li{
    width: 100%;
    margin-bottom: 3rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
}

.work > ul > li > div:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-color);
}

.work > ul > li > div:nth-child(1) > h1{
    font-size: var(--font-medium);
    margin-bottom: .5rem;
}

.work > ul > li > div:nth-child(1) > div{
    font-size: var(--font-normal);
    margin-bottom: .5rem;
}

.work > ul > li > div:nth-child(1) > h5{
    font-size: var(--font-small);
    margin-bottom: .5rem;
}

/*Work experience description*/

.work > ul > li > div:nth-child(2) {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: var(--font-normal);
}

.work > ul > li > div:nth-child(2) > div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Project Section*/

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.project-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
    overflow-y: hidden;
}

@media only screen and (min-width: 768px){
   .projects > ul{
        width: 70%;
        height: fit-content;
        display: grid;
        grid-template-columns: auto 3fr;
        column-gap: 1rem;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .projects > ul > li:nth-child(2n){
        width: 100%;
        height: 350px;
        margin-bottom: 3rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: .5rem;
    }

    .projects > ul > li:nth-child(2n + 1){
        width: 350px;
        height: 350px;
        margin-bottom: 3rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: .5rem;
    }
}

@media only screen and (max-width: 767px){
   .projects > ul{
        width: 70%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1rem;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .projects > ul > li:nth-child(2n){
        width: 100%;
        height: fit-content;
        margin-bottom: 3rem;
        /* border: 1px solid black; */
        border-radius: 10px;
        padding: .5rem;
    }

    .projects > ul > li:nth-child(2n + 1){
        width: 100%;
        height: 250px;
        margin-bottom: .5rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: .5rem;
    }
}

.projects > ul > li:nth-child(2n + 1):hover{
    cursor: pointer;
}

.projects > ul > li > div:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-color);
}

.projects > ul > li > div:nth-child(1) > h1{
    font-size: var(--font-medium);
    margin-bottom: .5rem;
}

.projects > ul > li > div:nth-child(1) > div{
    font-size: var(--font-normal);
    margin-bottom: .5rem;
}

.projects > ul > li > div:nth-child(1) > h5{
    font-size: var(--font-small);
    margin-bottom: .5rem;
}

/*projects experience description*/

.projects > ul > li > div:nth-child(2) {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: var(--font-normal);
}

.projects > ul > li > div:nth-child(2) > div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*project images*/

.request-img{
    /* background-image: url(../../assets/Images/requests.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.aqua-img{
    background-image: url(../../assets/Images/aqua.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nemy-img{
    background-image: url(../../assets/Images/nemy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-img{
    background-image: url(../../assets/Images/portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}