*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*home section*/

.hide{
    display: none;
}

.home{
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
}

.home > div:nth-child(1){
    font-size: var(--font-xlarge);
}

.home > div:nth-child(2){
    font-size: var(--font-large);
    font-weight: lighter;
    font-variant: small-caps;
}

.home > div:nth-child(2) > span{
    color: black;
    font-weight: lighter;
    animation-name: cursor-blink;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
}

@keyframes cursor-blink{
    0% {color: var(--secondary-color);}
    25% {color: var(--background-color);}
    50% {color: var(--secondary-color);}
    75% {color: var(--background-color);}
    100% {color: var(--secondary-color);}
}

.home > ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.home > ul > a {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    transition-duration: .5s;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.home > ul > li {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    transition-duration: .5s;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.home > ul > a:hover{
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition-duration: .35s;
}

.home > ul > li:hover{
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition-duration: .35s;
}

.alert{
    position: absolute;
    width: 100%;
    top: 10%;
    display: flex;
    justify-content: center;
}

/*education section*/

.education{
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.education-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
}

.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40rem;
}

.education-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-variant: small-caps;
    color: var(--font-color);
}

.education-container > div > span{
    font-weight: lighter;
    margin-bottom: .25rem;
    font-size: var(--font-medium);
}

/*experience section*/

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.experience-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
}

/*language-container*/

.language-container{
    width: 70%;
    color: var(--secondary-color);
    margin-bottom: .5rem;
}

.language-container > div{
    margin-bottom: .5rem;
}

.language-container > ul{
    display: flex;
    overflow-x: auto;
    list-style: none;
    gap: 1rem;
    font-size: var(--font-normal);
}

.language-container > ul > li{
    flex-shrink: 0;
    display: flex;
    margin-left: 0;
    min-width: var(--tech-width);
    height: var(--tech-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
}

.language-container > ul > li > span{
    display: flex;
    margin: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

/*language-container*/

.technology-container{
    width: 70%;
    color: var(--secondary-color);
    margin-bottom: .5rem;
}

.technology-container > div{
    margin-bottom: .5rem;
}

.technology-container > ul{
    display: flex;
    overflow-x: auto;
    list-style: none;
    gap: 1rem;
    font-size: var(--font-normal);
}


.technology-container > ul > li{
    flex-shrink: 0;
    display: flex;
    margin-left: 0;
    min-width: var(--tech-width);
    height: var(--tech-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
}

.technology-container > ul > li > span{
    display: flex;
    margin: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

/*language-container*/

.tools-container{
    width: 70%;
    color: var(--secondary-color);
    margin-bottom: 40rem;
}

.tools-container > div{
    margin-bottom: .5rem;
}


.tools-container > ul{
    display: flex;
    overflow-x: auto;
    list-style: none;
    gap: 1rem;
    font-size: var(--font-normal);
}


.tools-container > ul > li{
    flex-shrink: 0;
    display: flex;
    margin-left: 0;
    min-width: var(--tech-width);
    height: var(--tech-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
}

.tools-container > ul > li > span{
    display: flex;
    margin: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: fit-content;
    background: var(--background-color);
    color: var(--font-color);
}

.work-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    margin-bottom: 1rem;
    overflow-y: hidden;
}

.work > ul{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.work > ul > li{
    width: 100%;
    margin-bottom: 3rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
}

.work > ul > li > div:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-color);
}

.work > ul > li > div:nth-child(1) > h1{
    font-size: var(--font-medium);
}

.work > ul > li > div:nth-child(1) > div{
    font-size: var(--font-normal);
}

.work > ul > li > div:nth-child(1) > h5{
    font-size: var(--font-small);
    margin-bottom: .5rem;
}

/*Work experience description*/

.work > ul > li > div:nth-child(2) {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: var(--font-normal);
        /* border: 1px solid black;
    border-radius: 10px; */
}

/* .work > ul > li > div:nth-child(2) > div:before{
    content: '- ';
} */

.work > ul > li > div:nth-child(2) > div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Project Section*/

.projects{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    color: var(--font-color);
}

.project-header{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
}

.project-container{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    margin-bottom: 1rem;
}

.project-container > div {
    display: flex;
    position: relative;
    justify-content: center;
    width: calc(var(--project-width));
    height: calc(var(--project-height));
    border: 1px solid var(--secondary-color);
    border-radius: 20px 20px 20px 20px;
    transition: .5s;
    overflow-y: hidden;
}

.project-container > div:hover{
    cursor: pointer;
    filter: brightness(1.5);
    transition: .5s;
}

.portfolio-img{
    width: 100%;
    height: 100%;
    /* width: calc(var(--project-width));
    height: calc(var(--project-height) - 25px); */
    background-image: url('../../assets/Images/portfolio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.requests-img{
    width: 100%;
    /* height: calc(var(--project-height) - 25px); */
    height: 100%;
    background-image: url('../../assets/Images/Requests.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nemy-img{
    width: 100%;
    /* height: calc(var(--project-height) - 25px); */
    height: 100%;
    background-image: url('../../assets/Images/nemy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-container > div > div:nth-child(2){
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 20%;
    border-top: 1px solid var(--secondary-color);
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    background: var(--background-color);
}

.requests-preview{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    z-index: 999;
}

.requests-preview > div:nth-child(1){
    font-size: var(--font-large);
}

.requests-preview > div:nth-child(1):hover{
    cursor: pointer;
}

.requests-preview > div:nth-child(2){
    position: relative;
    width: 80%;
    height: 80%;
    background-image: url('../../assets/Images/Requests.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}